.main-shop {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.shop-container {
  border-right: 1px solid #cecece;
}
.cart-container {
  padding: 20px;
  text-align: center;
  position: fixed;
  right: 7%;
}
